html{
	background-color: grey;
	background-size: cover;
	background-height: 100%;}

body{
	font-family: Verdana, Tahoma, Arial;
	font-size: 80%;
	margin-top: 0;
	width: 80%;
	margin: auto;}

footer{
	clear: both;
	background-color: #181818;
	color: #FFF;
	padding: 10px;}

header-logo{
	text-align: center;}

aside{
	padding: 30px;
	width: 34%;
	float: left;
	color: white;
	background-color: red;
	box-sizing: border-box;}

span{
	color: red;}

.header-logo{
	background-image: url("images/tlo1.jpg");
	background-position: 0% 87.5%;
	background-size: 100%;
	color: #ff0000;
	height: 240px;
	padding: 30px;}

.kontener{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;}

.czesc_glowna{
	width: 66%;
	float: left;
	padding: 30px;
	background-color: #FFF;
	box-sizing: border-box;}

.tlo{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: -1;}

.div-menu-tlo{
	background-image: url("images/button2.png");
	background-size: 100% 100%;}

.div-menu-tlo:hover{
	background-image: url("images/button3.png");
	background-size: 100% 100%;}

.div-menu{
	background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    font-family: Impact;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size:150%;
	float:right;
	width: 20%;
	transition: all 0.4s;}

.div-menu:hover{
	width: 20%;
    color: white;}